/* Balises */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp,small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}
body{
    color: #464646;
    font-family: sans-serif;
    font-size: 12px;}
a{color: #2ebef7;; font-weight: bold; text-decoration: none;}
a:hover{cursor: pointer;color:#74d2f7;}
fieldset {border: 2px #21759b solid;}
hr{width: 90%;}
input[type="submit"]{cursor:pointer;}
legend{font-weight: bold; padding: 5px;}
p{text-align:justify;margin-bottom: 25px;}
ul{list-style: none;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, root, section {display: block;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table{
    border-collapse: collapse;
    border-spacing: 0;
} table th, table td{border: 1px black solid; padding: 5px;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
h1{margin-bottom: 10px;font-size: 32px;}
h2{margin-bottom: 8px; font-size: 23px; line-height: 29px;}
h3{margin-bottom: 6px; font-size: 21px;}
h4{margin-bottom: 4px;}
h5{margin-bottom: 2px;}
h6{margin-bottom: 1px;}
.block{display: block;}
/* Class */
.inlineBlock{display: inline-block;}
.textAlignCenter{text-align: center;}
body > #wrap {height: auto; min-height: 100%;}