#user-input{margin-bottom: 5px;}

/* Header */
header{
    line-height: 25px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    border-bottom:5px #0085b2 solid;}
header#top-bar{
    background: #333;
    position: relative;
    z-index: 10;
    padding: 10px 15px;
    color: white;}
header#top-bar a,
table.tablesorter th{color:white;}
header#top-bar a:hover,
table.tablesorter th:hover{color:#2ebef7;}
header#top-bar > span {
    font-weight: bold;
    margin-right: 5%;}
header#top-bar #log-bar{float:right;}
/*** Header ***/

 /* Content */
 fieldset {
    display: inline-block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;}

section.content{
    padding: 15px 30px;
    margin: 0 auto;}

table.user-table,
table.leave-table{display: inline-block;}
table:not(.ui-datepicker-calendar) th{
    background-color:#333;
    color:white;
    font-weight:bold;}
table#me th{padding:10px 30px;}
table#me td{padding:10px;}
table#me tr.alt td {
    background-color: #EAF2D3;
    color: #000;}

.leave-table tbody td{text-align:left;}

.sub-nav {
    position: absolute; /* Evite que la dimension du conteneur ne change quand la sous-liste est affichée */
    left: 0; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur */
    top: 2em; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur, on le positionne explicitement en bas du conteneur */
    white-space: nowrap; /* Pour que le texte ne revienne pas à la ligne */
    background: white; /* FIX IE7 : évite que la sous-liste ne disparaisse au moment où le curseur arrive au-dessus */
    margin-top: -2px; /* Pour que le sous-menu recouvre son parent, facilitant le passage de la souris de l’un à l’autre */
}

.leave-table{margin:5px 0 5px 25px;}

/* Template */
#menu > .nav-item > a{
    padding-left: 5px;
    border-left:1px white solid;}
#menu > .nav-item:first-child > a{border:none;}
.nav,
.nav-item{display:inline-block;}
.nav-item:hover .sub-nav{display: block;}
.nav a{display: block;}
.nav-item{padding: 0 5px 5px 0;}
.sub-nav {
    top: 100%;
    left: 695px;
    padding: 10px;
    background-color: #333;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);}

/*** Template ***/


#text-bar{
    line-height: 20px;
    height: 20px;
    background: #d4d4d4;
    padding: 1px 30px;
    text-align: center;
    color: red;}
#menu li.nav-item:hover * {display:block;}
#menu ul.sub-nav{display: none;}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}
.wrap{margin: 0 auto;}
.wrap > div.inline div:first-child{margin-bottom: 10px;}
.wrap select{display: inline-block;}
.campus-region div{
    display: inline-block;
    vertical-align: super;}
.inline{display:inline-block;}

/* Calendrier */
#calendar{width: 75%;}
.check{
    position: absolute;
    right: 30px;
    top: 150px;}
.fc-body .fc-sun,
.fc-body .fc-sat{background-color:#f4f4f4;}
.check{text-align: right}

/*** Calendrier ***/


/* Formulaire */

#add-event-table ul li {text-align: end;}
#add-event-table *:not(*[name]){border: none;}
#log-window{
    margin: 0 auto;
    border:2px black solid;
    border-radius:5px;
    width:300px;
    padding:15px;}
#log-window label {
    display: inline-block;
    width: 37%;}
#log-window input[type="text"],
#log-window input[type="password"] {
    display: inline-block;
    width: 60%;}
#log-window > form > a{margin-left: 15px;}

.action-form{display: block;}
.form{
    display: inline-block;
    margin-right: 10px;}
.form input{width:218px;}
.form input[type='radio']{
    display:inline-block;
    width:initial;}
.form input[type="submit"],
.form input[type="reset"]{
    display: inline-block;
    width:initial;}
.select-all,
input[type="button"] {width: 100%;}
input:required:valid,
input:required:invalid,
input:focus:invalid{
    background-position: right top;
    background-repeat: no-repeat;}
input:required:valid{background-image:url(/sup_conges/includes/images/valid.png);}
input:required:invalid,
input:focus:invalid{
    border: 1px red solid;
    background-image:url(/sup_conges/includes/images/invalid.png);}
select{height: 24px;}
select{
    display:block;
    min-width: 222px;}
/*** Formulaire ***/

th:nth-child(2){resize: both;}
th.header {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
    margin-right: -1px;
    background-image: url(../includes/images/bg.gif);}
th.headerSortUp{background-image: url(../includes/images/asc.gif);}
th.headerSortDown{background-image: url(../includes/images/desc.gif);}

td img{margin-left: 5px; height: 11px;}

.form-add > h2{display:inline-block;}
.form-add > a {
    margin-left: 10px;
    vertical-align: 2px;}

table button{width: 100%;}
div#modify{margin:10px;}
div#modify{font-size:16px;}
hr{margin:20px 0;}

input[type="text"],
input[type="password"]{display: block;}

.content form input[type="submit"],
.content form input[type="reset"]{
    display: inline-block;}


section.content{margin-left: 175px;}
#text-bar{margin-left: 175px;}
nav#side{
    position: absolute;
    width: 175px;
    height: auto;
    min-height: 100%;
    background-color: #333;
    float: left;}
nav#side li{
    border: 0;
    min-height: 34px;
    position: relative;}
nav#side li a{
    display: block;
    padding: 10px 20px;
    border-bottom: 1px white solid;
}
nav#side a{color: white;}
nav#side a:hover{color: #2ebef7;}

//.fixed{position: fixed;}

table tr > td.date{
    text-align:center;
    width:170px;}
.manager-validation{width:220px;}
td.cancel{
    background-color: white;
    border:none;}

table.tablesorter tr:nth-child(odd){background-color:white;}
table.tablesorter tr:nth-child(even) {background-color:#E9E9E9;}

select[name="campus[]"]{
    display: inline-block;
    margin-bottom: 15px;
    min-width: 85%;}
div.campus > a{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    vertical-align: -3px;}
div.campus > a.add{background: url('../includes/images/add.png');}
div.campus > a.delete{background: url('../includes/images/delete.png');}

td.show-event{width: 170px;}

td span:nth-child(3){color : red;}
td span:nth-child(5){color : green;}

.fc-content{color: white;}

td.liaison-leave-manager{min-width: 200px;}

table#leave-form tfoot tr td div#unpaid_leave{
    display:inline;
    float: right;
}
div#unpaid_leave input[name="unpaid_leave"]{
    width: initial;
}
